# Ignorar directorio venv
venv/
img/
garbage/
procesos.txt

# Ignorar archivos generados por el entorno virtual
*.pyc
*.pyo
*.pyd
__pycache__/

# Ignorar archivo de requerimientos del entorno virtual
